[![class](https://img.youtube.com/vi/24Jzr2FlKe4/1.jpg)](https://www.youtube.com/watch?v=24Jzr2FlKe4&list=PLBHVuYlKEkUKnfbWvRCrwSuSeYh_QUlRl&index=21)
Video

In [6]:
from pandas import Series, DataFrame
import pandas as pd

# pandas architecture

## Series

In [8]:
list_data = [1,2,3,4,5]
example_obj = Series(data = list_data)
example_obj

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [9]:
list_data = [1,2,3,4,5]
list_name = ['a','b','c','d','e']
example_obj = Series(data = list_data, index = list_name)
example_obj

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [11]:
dict_data = {'a':1, 'b':2,'c':3,'d':4,'e':5}
example_obj = Series(dict_data, dtype=np.float32, name='example_data')
example_obj

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [12]:
example_obj['a']

1.0

In [13]:
example_obj['a'] = 3.2
example_obj

a    3.2
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [14]:
example_obj.values

array([3.2, 2. , 3. , 4. , 5. ], dtype=float32)

In [15]:
example_obj.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [17]:
example_obj.name = 'number'
example_obj.index.name = 'alphabet'
example_obj

alphabet
a    3.2
b    2.0
c    3.0
d    4.0
e    5.0
Name: number, dtype: float32

In [23]:
dict_data_1 = dict_data
dict_data_1['a'] = 1
indexes = ['a','b','c','d','e','f','g','h']
series_obj_1 = Series(dict_data_1, index=indexes)
series_obj_1 #NaN : Not a Number

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
g    NaN
h    NaN
dtype: float64